<style>
    .parallax-section {
        position: relative;
        height: 800px;
        overflow: hidden;
    }
    .parallax-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        z-index: 1;
        background-image:url('../assets/c.jpg')
    }

    .parallax-content {
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .parallax-text {
        color: white;
        padding: 20px;
        border-radius: 5px;
    }

    #team-section .card {
        border: 0;
    }

    .career-view-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #2e2e2e;
        color: white;
        text-decoration: none;
        border-radius: 0px;
        border: 1px solid black;
    }

        .career-view-btn:hover {
            text-decoration: none;
            color: rgb(224, 221, 221);
        }

</style>
<div class="container text-center mt-5">
    <h1 class="display-4">
        <span class="font-italic display-4" style="font-family: serif;">Career</span> Opportunities
    </h1>
</div>
<div class="parallax-section mt-5">
    <div class="parallax-image"></div>
    <div class="parallax-content">
        <div class="container mt-auto">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="parallax-text">
                        <h1 class="text-white">
                            We are always looking out for new talent to join our team.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container m-5">
    <div class="row">
        <div class="col-md-6">
            <h6 class="headingBH">CURRENT OPENINGS</h6>
        </div>
        <div class="col-md-6">
            <div class="row mt-5">
                <div class="col-md-6"><h4>Senior Interior Designer</h4></div>
                <div class="col-md-6 text-md-right">
                    <button class="career-view-btn">Enquire Now</button>
                </div>
                <div class="col-md-6 mt-3"><p class="text-muted">Full-Time</p></div>
                <div class="col-md-6 mt-3">
                    <p class="text-md-right text-muted">Gurugram</p>
                </div>
            </div>
            <hr />
            <div class="row mt-5">
                <div class="col-md-6"><h4>Senior Interior Designer</h4></div>
                <div class="col-md-6 text-md-right">
                    <button class="career-view-btn">Enquire Now</button>
                </div>
                <div class="col-md-6 mt-3"><p class="text-muted">Full-Time</p></div>
                <div class="col-md-6 mt-3">
                    <p class="text-md-right text-muted">Gurugram</p>
                </div>
            </div>
            <hr />
            <div class="row mt-5">
                <div class="col-md-6"><h4>Senior Interior Designer</h4></div>
                <div class="col-md-6 text-md-right">
                    <button class="career-view-btn">Enquire Now</button>
                </div>
                <div class="col-md-6 mt-3"><p class="text-muted">Full-Time</p></div>
                <div class="col-md-6 mt-3">
                    <p class="text-md-right text-muted">Gurugram</p>
                </div>
            </div>
            <hr />
            <div class="row mt-5">
                <div class="col-md-6"><h4>Senior Interior Designer</h4></div>
                <div class="col-md-6 text-md-right">
                    <button class="career-view-btn">Enquire Now</button>
                </div>
                <div class="col-md-6 mt-3"><p class="text-muted">Full-Time</p></div>
                <div class="col-md-6 mt-3">
                    <p class="text-md-right text-muted">Gurugram</p>
                </div>
            </div>
            <hr />
            <div class="row mt-5">
                <div class="col-md-6"><h4>Senior Interior Designer</h4></div>
                <div class="col-md-6 text-md-right">
                    <button class="career-view-btn">Enquire Now</button>
                </div>
                <div class="col-md-6 mt-3"><p class="text-muted">Full-Time</p></div>
                <div class="col-md-6 mt-3">
                    <p class="text-md-right text-muted">Gurugram</p>
                </div>
            </div>
            <hr />
            <div class="row mt-5">
                <div class="col-md-6"><h4>Senior Interior Designer</h4></div>
                <div class="col-md-6 text-md-right">
                    <button class="career-view-btn">Enquire Now</button>
                </div>
                <div class="col-md-6 mt-3"><p class="text-muted">Full-Time</p></div>
                <div class="col-md-6 mt-3">
                    <p class="text-md-right text-muted">Gurugram</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>