<style>
    hr {
        border: 1px solid #e5e5e5 !important;
        margin: 0;
        padding: 0;
    }
</style>
<div class="container text-center mt-5">
    <h1 class="display-4">
        <span class="font-italic display-4" style="font-family: serif">Our</span>
        Projects
    </h1>
    <h6>2018 - 2025</h6>
</div>
<div class="col-md-12 mt-5 mb-5">
    <hr />
    <div class="row mt-2 ourProjectMain">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn m-2 pl-5 pr-5 nav-fs">Commercial</button>
            <button class="btn m-2 pl-5 pr-5 nav-fs">Hospitality</button>
            <button class="btn m-2 pl-5 pr-5 nav-fs">Residential</button>
            <!-- <button class="btn m-2 pl-5 pr-5 nav-fs">Traditional</button> -->
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/japandi.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj2.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj3.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj4.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj5.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj6.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj7.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj8.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj9.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj10.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj11.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fwrap">
                    <img class="fimg" src="~/assets/proj12.jpg" />
                    <div class="fcap">
                        <div class="m-4">
                            <h3 class="text-center">The Japandi Home</h3>
                            <hr class="mt-3" />
                            <p>Pioneer Araya</p>
                            <hr class="" />
                            <p>Residential</p>
                            <hr />
                            <p>3500 sqft</p>
                            <hr />
                            <p>Gurugram</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>